[buildout]

auto-checkout =
    EduComponents.policy
#    Products.ECQuiz
    Products.CMFBibliographyAT
    eea.progressbar
    
eggs = 
    Products.ECLecture
    Products.ECQuiz
    Products.ECAssignmentBox
    Products.ECAutoAssessmentBox
    plone.app.kss
    kss.core
    
[versions]

################## eduComponents
Products.ECAssignmentBox = 1.5.1
Products.ECAutoAssessmentBox = 1.4.2
Products.ECLecture = 1.4
Products.ECQuiz = 1.4-rc1
Products.DataGridField = 1.8b2
kss.core = 1.6.5
plone.app.kss = 1.7.1

######## Plone 3 users should use
#Products.DataGridField = 1.6.3
#Products.ECAssignmentBox = 1.4.3
#Products.ECAutoAssessmentBox = 1.1
#Products.ECLecture = 1.3.1
#Products.ECQuiz = 1.2.1

######## CMFBibliographyAT
# Required by:
# Products.CMFBibliographyAT==1.1.5-unreleased
Products.ATExtensions = 1.1

# Required by:
# Products.CMFBibliographyAT==1.1.5-unreleased
# bibliograph.parsing==1.0.1
# bibliograph.rendering==1.0.2
bibliograph.core = 1.0.3

# Required by:
# Products.CMFBibliographyAT==1.1.5-unreleased
bibliograph.parsing = 1.0.1

# Required by:
# Products.CMFBibliographyAT==1.1.5-unreleased
bibliograph.rendering = 1.0.2

# Required by:
# Products.CMFBibliographyAT==1.1.5-unreleased
pyisbn = 0.6.3

######## EEA Progress Bar
eea.progressbar = 2.2-dev
eea.icons = 1.1


[sources]
################## eduComponents
EduComponents.policy = fs EduComponents.policy
Products.ECQuiz = svn https://svn.plone.org/svn/collective/Products.ECQuiz/trunk/

######## CMFBibliographyAT
Products.CMFBibliographyAT = git https://github.com/collective/Products.CMFBibliographyAT.git

######## EEA Progress Bar
eea.progressbar = git https://github.com/collective/eea.progressbar.git